<footer class="footer">
  <h3 class="heading-secondary">Nos Partenaires :</h3>
  <figure class="partners-logo">
    <img
      *ngFor="let logo of partnersLogo"
      [src]="logo.src"
      [alt]="logo.alt"
      [ngClass]="logo.class ? logo.class : null"
      loading="lazy"
    />
  </figure>
  <p class="legal-mentions">
    ©CHANTE-CEVENNES.FR | TOUS DROITS RÉSERVÉS | MENTIONS LÉGALES
  </p>
  <img
    loading="lazy"
    src="/assets/logo/footer_image-removebg-preview (1).png"
    alt="footer"
    class="footer__image"
  />
</footer>
