<section class="section-area_presentation">
  <div class="area_presentation">
    <div class="area_presentation__content">
      <h2 class="heading-primary">Présentation du domaine</h2>
      <img
        src="/assets/img/birds/Mesange_oiseau_2.webp"
        alt="une mésange"
        class="area_presentation__image"
      />
      <p class="area_presentation__text">
        La nature. Le ciel bleu. Les rochers. Les oiseaux et leurs chants, les
        arbres et leur silence. Du calme à perte de vue ou des activités à n'en
        plus finir. Amoureux de la Terre, d'action, de contemplation ou amoureux
        tout court, soyez les bienvenues sur le domaine CHANTE-CÉVENNES. Nous
        vous accueillons à partir de 2 nuitées, en week-end ou en Semaine, toute
        l'année. Chez nous, les appartements s'appellent des "Nids". Nids
        d'oiseaux, nids douillets, nids d'amour. Pour l'instant, 2 nids sont à
        disposition, deux studios sur-équipés. D'autres viendront
        progressivement...
      </p>
    </div>
  </div>
</section>
<div class="secondary-background"></div>
